.container{
    background-color: #aa77dd;
}

@media(min-width:600px){
    .container{
        background-color: #5032c9;
    }
    h1{
        display: none;
    }
}

section{
    display: flex;
    flex-direction: column;
}

@media(min-width:900px){
    section{
        flex-direction: row;
    }
}

section div{
    flex-grow: 1;
    height: 300px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #c6acdf;
}

